body{
    background-image: url("fireworks.jpg");
    background-size: contain;
}
div#wrap{
    width : 100%;
}
div#bbb{
    margin-left: auto;
    margin-right: auto;
}
div#table{
    width : 650px;
    margin : 0 auto;
    background-color : #E6E6FA;
}
h1{
    color : midnightblue;
}
table{
    width : 700px;
    height : 700px;
}
.hei{
    font-size: 20px;
    color : black;
    text-align: center;
}
#sousin{
    color : red;
}
.main{
    border-bottom : 2px solid orange;
    background-color : #FFFF;
    display : flex;
    margin-bottom: 10px;
}
.div1{
    width : 130px;
    border : 2px;
    flex : 1 1 auto;
    font-weight : 600;
    font-size : 19px;
}
.div2{
    border : 2px;
    font-size: 19;
    flex : 1 1 auto;
}
#mozi{
    font-size: 20px;
}
input.test{
    display: inline-block;
    background-color: #BCD1FE;
    cursor: pointer;
    width: 150px;
    height: 70px;
    font-size: 21px;
    margin:  auto;
    padding: 5px;
    border-radius: 25px;
    text-shadow: -1px -1px #FFF;
    color : #000;
    text-align: center;
    text-decoration: none;
    box-shadow:0 6px 0 #046E7A, 0 12px 0 rgba(0,0,0,0.2);
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
input.test:hover{
    background-color: #BCD1FE;
    color: #000;
    text-shadow: -1px -1px #FFF;
    box-shadow: 0 3px 0 #07A5B7, 0 6px 0 rgba(0,0,0,0.2);
    -webkit-transform: translateY(3px);/*ボタンにカーソルを*/
    transform: translateY(3px);/*合わせたときに沈む深さの処理*/
}
input.test:active{

    text-shadow: -1px -1px #FFF;
    color: #3a3a;
    background-color: #709dff;
    box-shadow: 0 0 0 #047C71, 0 0 0 rgba(0,0,0,0.2);
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    transition-duration: 0.1s;/*クリックしたときの深さの処理の時間*/
}
button.test1{
    display: inline-block;
    background-color:#FFF4BF;
    cursor: pointer;
    width: 150px;
    height: 70px;
    font-size: 22px;
    margin:  auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 25px;
    text-shadow: -1px -1px #FFF;
    color : #000;
    text-align: center;
    text-decoration: none;
    box-shadow:0 6px 0 #046E7A, 0 12px 0 rgba(0,0,0,0.2);
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
button.test1:hover{
    background-color:#FFF4BF;
    color: #000;
    text-shadow: -1px -1px #FFF;
    box-shadow: 0 3px 0 #07A5B7, 0 6px 0 rgba(0,0,0,0.2);
    -webkit-transform: translateY(3px);/*ボタンにカーソルを*/
    transform: translateY(3px);/*合わせたときに沈む深さの処理*/
    -webkit-animation: flash 1s;/*ボタンを光らせる*/
    animation: flash 1s;
}
button.test1:active{
    text-shadow: -1px -1px #FFF;
    color: #3a3a;
    background-color: #FFD700;
    box-shadow: 0 0 0 #047C71, 0 0 0 rgba(0,0,0,0.2);
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    transition-duration: 0.1s;/*クリックしたときの深さの処理の時間*/
}
@-webkit-keyframes flash {
0% { background-color: #FFF4BF; }
10% { background-color: #FFFCF2; }
100% { background-color: #FFF4BF; }
}
@keyframes flash {
0% { background-color: #FFF4BF; }
10% { background-color: #FFFCF2; }
100% { background-color: #FFF4BF; }
}
