table{
    width : 700px;
    height : 500px;
}
h1{
    color : midnightblue;
}
div#wrap{
    width : 100%;
}

div#table{
    width : 400px;
    margin : 0 auto;
}
body{
background-color : #E6E6FA;
}

}
label{
    font-weight : 700;
    font-size : 18px;
}
.hei{
        color : black;
}
#sousin{
    color : red;
}

.main{
    border : 2px solid orange;
    background-color : #FFFF;
    display : flex;
}
.div1{
    width : 100px;
    border : 2px;
    flex : 1 1 auto;
}
.div2{
    border : 2px;
    flex : 1 1 auto;
}
button.test{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
button.test:hover{
    /*背景色を明るい色に設定*/
    background-color : #87CEFA;
}
button.test1{
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
button.test1:hover{
    /*背景色を明るい色に設定*/
    background-color : #FFFFE0;
}

input.test{
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
input.test:hover{
    /*背景色を明るい色に設定*/
    background-color : #87CEFA;
}
